<div class="row">
    <div class="col-6">
        <app-dona [etiquetas] = "etiquetas_nombres" 
                  [data] = "datos"
                  title = "Estadisticas"> 
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona title="Otras estadisticas">
        </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona title = "Mas estadisticas">
    </app-dona>
    </div>
    <div class="col-6">
        <app-dona title = "Opcionales estadisticas">
        </app-dona>
    </div>
</div>